<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Catagoroy:</strong>
    <%= product.catagoroy %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= product.discount %>
  </p>

  <p>
    <strong>Discount type:</strong>
    <%= product.discount_type %>
  </p>

  <p>
    <strong>Catagory:</strong>
    <%= product.catagory_id %>
  </p>

</div>
