<!DOCTYPE html>
<html>
  <head>
    <title>Exercise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header>
   <%= form_with model: @student do |form| %>
            <div class="navbrand">
                <%# <a href=""><%=image_tag "school logo.jpeg"%></a> %>
                <a id="schoolname" href="#">st.mary education institute </a>
            </div>
            <div class="navinfo float-end">
                Plote no-25,A Shivaji circule talaja jakat naka,<br>bharat nagar road ,mumbai west

            </div>
            <% end %>
   </header>

    <%= yield %>
  </body>
</html>
